@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../img/city.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.greetings{
    font-size: 6rem;
    font-weight: 900;
}
.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: .2s ;
}
.greetings > span:nth-child(3){
    animation-delay: .4s ;
}
.greetings > span:nth-child(4){
    animation-delay: .6s;
}
.greetings > span:nth-child(5){
    animation-delay: .8s;
}

.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.button {
    position: relative;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid blue;
    background: transparent;
    color: white;
    text-decoration: none;
    overflow: hidden;
	transition: .5s;
}

.button:hover{
    background: white;
	color: black;
}

.button a{
    text-decoration-line: none;
    background: transparent;
    font-weight: bold;
    border: 100px;
    padding: 15px 0;
    overflow: hidden;
    text-decoration: none;
    position: relative;
    color: black;
    background-color: transparent;
    cursor: pointer;
    margin: 20px 10px;
    box-shadow: gray;
    
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .description{
        font-size: 1rem;
        justify-content: center;
        text-align: center;
    }
    
    .button a{
        font-size: .5rem;
    }
}
